<?xml version="1.0" encoding="UTF-8"?>
<!--<Context reloadable="true" crossContext="true" caseSensitive="true">
	<Resource name="jdbc/breeze" auth="Container" type="javax.sql.DataSource"
		maxActive="100" maxIdle="30" maxWait="10000"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		url="jdbc:sqlserver://satyam-xp:1433;databaseName=breeze;user=sa;password=breeze" />
</Context>-->