<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>JMSservlet</servlet-name>
		<servlet-class>servlets.JMSservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>servlets.DBServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JMSservlet</servlet-name>
		<url-pattern>/JMSservlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/DBServlet</url-pattern>
	</servlet-mapping>

</web-app>