<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>ctxParam</param-name>
		<param-value>"I am a ctx param"</param-value>
	</context-param>
	<servlet>
		<servlet-name>JMSservlet</servlet-name>
		<servlet-class>servlets.JMSservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>servlets.DBServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletA</servlet-name>
		<servlet-class>servlets.ServletA</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletB</servlet-name>
		<servlet-class>servlets.ServletB</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletC</servlet-name>
		<servlet-class>servlets.pkg.ServletC</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PageA</servlet-name>
		<jsp-file>/web/PageA.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>SecureServlet</servlet-name>
		<servlet-class>servlets.SecureServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CtxParamDemoServlet</servlet-name>
		<servlet-class>servlets.CtxParamDemoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CtxParamDemoServlet</servlet-name>
		<url-pattern>/CtxParamDemoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadDemoServlet</servlet-name>
		<servlet-class>servlets.FileUploadDemoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadDemoServlet</servlet-name>
		<url-pattern>/FileUploadDemoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JSTLDemoPG</servlet-name>
		<jsp-file>/web/JSTLdemoPG.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>JSTLDemoPG</servlet-name>
		<url-pattern>/JSTLDemoPG</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JMSservlet</servlet-name>
		<url-pattern>/JMSservlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/DBServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletA</servlet-name>
		<url-pattern>/ServletA</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletB</servlet-name>
		<url-pattern>/ServletB</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletC</servlet-name>
		<url-pattern>/ServletC</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PageA</servlet-name>
		<url-pattern>/PageA</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SecureServlet</servlet-name>
		<url-pattern>/SecureServlet</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>admin</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecureServlet</web-resource-name>
			<url-pattern>/SecureServlet</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<filter>
		<filter-name>DemoFilter</filter-name>
		<filter-class>filters.DemoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DemoFilter</filter-name>
		<servlet-name>FilteredServlet</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>FilteredServlet</servlet-name>
		<servlet-class>servlets.FilteredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilteredServlet</servlet-name>
		<url-pattern>/FilteredServlet</url-pattern>
	</servlet-mapping>
</web-app>