<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>servlets.DemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealPathDemoServlet</servlet-name>
        <servlet-class>servlets.RealPathDemoServlet</servlet-class>
    </servlet>
    <!--servlet>
        <servlet-name>RealPathDemoHelperPG</servlet-name>
        <jsp-file>/jsp/RealPathDemoHelperPG.jsp</jsp-file>
    </servlet-->
    <servlet>
        <servlet-name>MappedSuperClassDemo</servlet-name>
        <servlet-class>servlets.MappedSuperClassDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JNDIdemoServlet</servlet-name>
        <servlet-class>servlets.JNDIdemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/DemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealPathDemoServlet</servlet-name>
        <url-pattern>/jsp/RealPathDemoServlet</url-pattern>
    </servlet-mapping>
    <!--servlet-mapping>
        <servlet-name>RealPathDemoHelperPG</servlet-name>
        <url-pattern>/jsp/RealPathDemoHelperPG</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>MappedSuperClassDemo</servlet-name>
        <url-pattern>/MappedSuperClassDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JNDIdemoServlet</servlet-name>
        <url-pattern>/JNDIdemoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
