<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>jndi-provider</param-name>
		<param-value>jnp://127.0.0.1:1099</param-value>
	</context-param>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>org.sdm.timerecord.web.process.ActionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
</web-app>